.eerste{
    color: #FF0000;
    font-size: 18px;
}

.tweede{
    color: #848484;
    font-size: 20px;
}

.derde{
    color: #0000FF;
    font-size: 22px;
}

.vierde{
    color: #04B404;
    font-size: 24px;
}

.vijfde{
    color: #B404AE;
    font-size: 26px;
}